<nav class="navbar" id="top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'sale-index' %}" style="font-family: Audiowide">
                <img id="logo" class="home" src="https://cdn-icons-png.flaticon.com/512/2089/2089500.png">
                <p id="title" class="home"> Fire Sale </p>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><img id="star" src="https://cdn-icons-png.flaticon.com/512/1828/1828961.png">
                {% if ratings.rate__avg %}
                    <span>{{ ratings.rate__avg }}</span></li>
                {% else %}
                    <span>None</span>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Sign out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Sign in</a></li>
                {% endif %}
                <li class="dropdown" >
                    <button class="dropbtn">
                        <img id="notification" src="https://cdn-icons-png.flaticon.com/512/3602/3602123.png">
                    </button>

                    <div class="dropdown-content">
                    <h5>Sellers</h5>
                    {% for notif in buyer_notifs %}
                        {% if user.id == notif.receiver.buyer_id %}
                            {% if notif.offer.accepted %}
                                <a href="{% url 'contact' notif.offer.id %}">
                                    <p>{{ notif.notif }}</p>
                                </a>
                            {% else %}
                                <p>{{ notif.notif }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <h5>Buyers</h5>
                    {% for notif in seller_notifs %}
                        {% if user.id == notif.receiver.seller_id %}
                            <a href="{% url 'notification' notif.id %}">
                                <p>{{ notif.notif }}</p>
                            </a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'edit-profile' %}"><img id="profile_img" src="{{ user.profile.profile_image }}"></a></li>
                {% else %}
                    <li><img id="profile_img" src="https://cdn-icons-png.flaticon.com/512/64/64572.png"></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>























