.navbar {
    min-height: 90px;
}

.container {
    text-align: center;

}
.home {
    float: left;
    width: 50%;
}
#logo {
    width: 3em;
    height: 3em;
}

#title {
    padding-top: .5em;
}

li {
    padding-top: 1em;
}

#profile_img, #notification, #star {
    width: 3em;
    height: 3em;
}

.Footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    text-align: left;
    padding: 11px;
}

.container .items .item {
    display: inline-block;
    padding: 30px;
    padding-bottom: 60px;

}


.item-img {
    width: 20em;
    height: 20em;
}
.item-content, .contact-content, .payment-content{
    text-align: left;
}

.item-title, .contact-title, .payment-title{
    display: inline;
    font-weight: bolder;
    margin: 0;
}
.item-info, .contact-info, .payment-info{
    display: inline;
    margin: 0;
}


#help-text {
    color: gray;

}




