{% extends "base.html" %}
{% block content %}
    <h2>Card information</h2>
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        <p class="item-title">Cardholder:</p><p class="item-info">{{ form.cardholder }}</p>
        <br>
        <p class="item-title">Card nr:</p><p class="item-info">{{ form.card_nr }}</p>
        <br>
        <p class="item-title">Expiry date:</p><p class="item-info">{{ form.expiry_month }}/{{ form.expiry_year }}</p>
        <br>
        <p class="item-title">CVC:</p><p class="item-info">{{ form.cvc }}</p>
        <br>
        <a href="{% url 'contact' id %}" class="button">Prev</a>
        <input type="submit" class="button" value="Next"/>
    </form>
{% endblock %}