{% extends 'base.html' %}
{% block content %}
    <h2>Item detail</h2>
    <div class="form">
        <form enctype= multipart/form-data class="form form-horizontal" action="{% url 'create-item' %}" method="post">
            {% csrf_token %}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
            <label for="{{ form.condition.id_for_label }}">Condition:</label>
            {{ form.condition }}
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
            <label for="{{ form.image.id_for_label }}">Images:</label>
            <input type="file" multiple name="images" required id="id_images">
            <input type="submit" value="Create item" class="button">
        </form>
    </div>
{% endblock %}