{% extends 'base.html' %}
{% block content %}
    <h1 class="red">Catalog</h1>
<div class="body_menu">
    <div>
        <a href="{% url 'create-item' %}">
            <button type="button" id="create-btn" class="btn btn-default">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png" style="width: 1.25em; height: 1.25em">
                Create item
            </button>
        </a>
    </div>
    <div class="input-group">
        <input type="search" placeholder="Search for items" class="form-control" id="search-box"/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">
                <img src="https://cdn-icons-png.flaticon.com/512/709/709592.png" style="width: 1.25em; height: 1.25em">
            </button>
        </div>
    </div>
    <div class="sorted">
    <form action="{% url 'sort-item' %}">
        Sort by
        <select name="sort" class="custom-select" onchange="this.form.submit()">
            <option value="" selected>-- Select --</option>
            <option value="-id">Recent</option>
            <option value="name">Name: A to Z</option>
            <option value="-name">Name: Z to A</option>
            <option value="highest_offer">Price: Low to High</option>
            <option value="-highest_offer">Price: High to Low</option>
        </select>
        </form>
    </div>
    </div>
    <div class="items">
    {% for item in items %}
        {% if item.available %}
            {% include 'sale/single_item.html' with item=item %}
        {% endif %}
    {% endfor %}
    </div>
    <a href="#top" title="Top of the page"><img id="top-btn" src="https://cdn-icons-png.flaticon.com/512/992/992703.png"></a>
{% endblock %}
