{% extends "base.html" %}
{% block content %}
    <div class="item-content">
        <h2>{{ item.name }}</h2>
        <p class="item-title">Highest offer: </p><p class="item-info">{{ item.highest_offer }}kr</p>
        <br>
        <p class="item-title">Condition: </p><p class="item-info">{{ item.condition }}</p>
        <br>
        <p class="item-title">Description: </p><p class="item-info">{{ item.description }}</p>
        <br>
        {% for item_image in item.itemimage_set.all %}
            <img class="item-img" src="{{ item_image.image }}">
        {% endfor %}
        {% if user.id == item.seller.seller_id %}
            <a href="{% url 'add-image' item.id %}" class="button">Add image</a>
            <a href="{% url 'update-item' item.id %}" class="button">Update item</a>
            <a href="{% url 'delete-item' item.id %}" class="button">Delete item</a>
        {% else %}
            <a href="{% url 'make-offer' item.id %}" class="button">Make offer</a>
        {% endif %}
    </div>
    <div class="items">
        <h2>Similar items</h2>
        {% for similar_item in similar_items %}
            {% if similar_item.available %}
                <div class="item">
                    <img class="item-img" src="{{ similar_item.itemimage_set.first.image }}">
                    <p>{{ similar_item.name }}</p>
                    <p>{{ similar_item.highest_offer }}kr</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}