{% extends "base.html" %}
{% block content %}
    <div class="item-content">
        <h2>{{ item.name }}</h2>
        <p class="item-title">Highest offer: </p><p class="item-info">{{ item.highest_offer }}kr</p>
        <br>
        <p class="item-title">Condition: </p><p class="item-info">{{ item.condition }}</p>
        <br>
        <p class="item-title">Description: </p><p class="item-info">{{ item.description }}</p>
        <br>

        <div class="item-detail-img">
        {% for item_image in item.itemimage_set.all %}
            {% if forloop.counter == 1 %}
                <img class="item-img" src="/media/{{ item_image.image }}" style="border-radius: 0.5em;"><br><br>
            {% elif forloop.counter > 1 and forloop.counter < 5 %}
                <img class="item-img zoom" src="/media/{{ item_image.image }}" style="height: 6.45em;width: 6.45em; display: inline-block;border-radius: 0.5em;">
            {% endif %}
        {% endfor %}
            </div>
        {% if user.id == item.seller.seller_id %}
        <p id="btn-test">
            <input type="button" onclick="window.location.href='{% url 'add-image' item.id %}';" class="button" value="Add image"/>
            <input type="button" onclick="window.location.href='{% url 'update-item' item.id %}';" class="button" value="Update item"/>
            <input type="button" onclick="window.location.href='{% url 'delete-item' item.id %}';" class="button" value="Delete item"/>
            </p>
        {% else %}
        <p id="offer-btn">
            <input type="button" onclick="window.location.href='{% url 'make-offer' item.id %}';" class="button" value="Make offer"/>
        </p>
        {% endif %}
        </div>

    {% if similar_items %}
        <div class="items">
            <h2>Similar items</h2>
            {% for item in similar_items %}
                {% if item.available %}
                    {% include 'sale/single_item.html' with item=item %}
                {% endif %}
            {% endfor %}

        </div>
    {% endif %}

{% endblock %}