{% extends 'base.html' %}
{% block content %}
    <h2>Make offer</h2>
    <div class="make-offer">
        <form class="form form-horizontal" action="{% url 'make-offer' id %}" method="post">
        {% csrf_token %}
        <p class="item-title">Price:</p><p class="offer-price">{{ form.price }}</p>
        <br>
        <p class="item-title">Message: </p>
            <div id="offer-message">
                {{ form.message }}
            </div>
        <br>
            <input type="submit" value="Send" class="button">
        </form>
    </div>



{% endblock %}


