{% extends 'base.html' %}
{% block content %}
    {% if user.id == item.seller.seller_id %}
        <h2>Update item</h2>
        <div class="form">
            <form class="form form-horizontal" action="{% url 'update-item' id %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Update" class="button" style="clear: both; margin: 10px 0">
            </form>
        </div>
    {% else %}
        <h2>Access denied</h2>
        <p>You don't have permission to access this page</p>
    {% endif %}
{% endblock %}