{% extends "base.html" %}
{% block content %}
    <div class="notif">
        <h1>View your offer</h1>
        <p class="item-title">Buyer: </p><p class="item-info">{{ user.username }}</p>
        <br>
        <p class="item-title">Offer price: </p><p class="item-info">{{ offer.price }}kr</p>
        <br>
        <p class="item-title">Message: </p><p class="item-info">{{ offer.message }}</p>
        <br>
        {% for item_image in item.itemimage_set.all %}
            <img class="item-img" src="{{ item_image.image }}">
        {% endfor %}
        <a href="{% url 'accept-offer' notif.id %}" class="button">Accept</a>
        <a href="{% url 'decline-offer' notif.id %}" class="button">Decline</a>
    </div>
{% endblock %}